<footer class="main-footer">
  <section class="main-footer__wrapper">
    <div class="container">
      <section class="footer-1">
        <a href="">
        <img class="logo__footer" src="assets/img/logo.svg" alt="Амкодор"/ >
        </a>
        <div class="social-footer">
          <a href="">
          <img src="assets/img/button_facebook.svg"/>
            <span class="visually-hidden">facebook</span>
          </a>
          <a href="">
          <img src="assets/img/button_inst.svg">
            <span class="visually-hidden">instagram</span>
          </a>
        </div>
        <button class="btn" data-mod-text-us>
          <div class="btn-text">
          Напишите нам
            <div class="btn__line"></div>
          </div>
        </button>
        <div class="footer-1__text">
        <p>
          © 2021
        </p>
        <p>
          ЗАО «Амкодор-Спецсервис»
        </p>
        </div>
      </section>
      <section class="footer-2">
        <p>
          <a href="">
          ПРОДУКЦИЯ
          </a>
        </p>
        <ul>
          <li>
            <a href="">
          Погрузчики
            </a>
        </li>
          <li>
            <a href="">
              Катки
            </a>
          </li>
          <li>
            <a href="">
              Лесная техника
            </a>
          </li>
          <li>
            <a href="">
              Бульдозер
            </a>
          </li>
          <li>
            <a href="">
              Экскаваторы
            </a>
          </li>
          <li>
            <a href="">
              Экскаваторы-погрузчики
            </a>
          </li>
          <li>
            <a href="">
              Автогрейдер
            </a>
          </li>
        </ul>
      </section>
      <section class="footer-3">
        <p>
          <a href="about-us.html">
            О НАС
          </a>
        </p>
        <ul>
          <li>
            <a href="diagn-and-rep.html">
              Диагностика и ремонт
            </a>
          </li>
          <li>
            <a href="">
              Запчасти
            </a>
          </li>
          <li>
            <a href="payment.html">
              Способы оплаты
            </a>
          </li>
          <li>
            <a href="">
              Система лояльности
            </a>
          </li>
          <li>
            <a href="vacancy.html">
              Вакансии
            </a>
          </li>
          <li>
            <a href="news.html">
              Новости
            </a>
          </li>
          <li>
            <a href="">
              Контакты
            </a>
          </li>
        </ul>
      </section>
      <section class="footer-4">
        <p>
          <a href="">
          КОНТАКТНАЯ ИНФОРМАЦИЯ
          </a>
        </p>
        <div class="footer__place">
          <a href="">
          ЗАО «Амкодор-Спецсервис», 220003, РБ, Минская область, г. Минск, ул. Брикета, 39
          </a>
        </div>
        <div class="footer__mail">
          <a href="mailto:amk-specservis@tut.by">
            amk-specservis@tut.by
          </a>
        </div>
        <div class="footer__phone">
          <a href="tel:+375 (17) 539-27-19">
            +375 (17) 539-27-19 (отдел продаж)
          </a>
          <a href="tel:+375 (17) 512-29-64">
            +375 (17) 512-29-64 (диагностика и ремонт)
          </a>
          <a href="tel:+375 (17) 512-29-71">
            +375 (17) 512-29-71 (отдел запчастей)
          </a>
          <a href="tel:+375 (17) 512-29-60">
            +375 (17) 512-29-60 (приемная)
          </a>
          <a href="tel:+375 (17) 512-29-61">
            +375 (17) 512-29-61 (факс)
          </a>
        </div>
      </section>
    </div>
  </section>
  <section class="cmbox">
    <div class="container">
      <a href="https://cmbox.by/">
      <p>
      Разработка и продвижение
      </p>
      <img src="assets/img/svg/cmbox-logo.svg"/>
      </a>
    </div>
  </section>
</footer>
