<header class="main-header">
  <div class="container">
    <div class="header-wrap">
      <h1 class="visually-hidden">Амкодор</h1>
      <div class="logo">
        <a href="">
          <img src="assets/img/logo.svg" alt="Амкодор"/>
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li class="drop__list-1 ">
            <div class="drop ">
            <a href="">
              Продукция
            </a>
            <ul class="list-1">
              <ul class="list-1-1">
                <li>
                  <a href="">
                  Погрузчики
                  </a>
                </li>
                <li>
                  <a href="">
                  Погрузчики на базе тракторов МТЗ
                  </a>
                </li>
                <li>
                  <a href="">
                  Экскаваторы-погрузчики
                  </a>
                </li>
                <li>
                  <a href="">
                  Экскаваторы
                  </a>
                </li>
                <li>
                  <a href="">
                  Катки
                  </a>
                </li>
                <li>
                  <a href="">
                  Лесная техника
                  </a>
                </li>
                <li>
                  <a href="">
                  Траншеекопатель
                  </a>
                </li>
                <li>
                  <a href="">
                  Бульдозер
                  </a>
                </li>
                <li>
                  <a href="">
                  Автогрейдер
                  </a>
                </li>
              </ul>
              <ul class="list-1-2">
                <li>
                  <a href="">
                  Землевоз
                  </a>
                </li>
                <li>
                  <a href="">
                  Складская техника
                  </a>
                </li>
                <li>
                  <a href="">
                  Сельскохозяйственная техника
                  </a>
                </li>
                <li>
                  <a href="">
                  Косилки
                  </a>
                </li>
                <li>
                  <a href="">
                  Очиститель каналов навесной АМКОДОР ОКН-05
                  </a>
                </li>
                <li>
                  <a href="">
                    Снегоуборочная техника
                  </a>
                </li>
                <li>
                  <a href="">
                  Машины фрезерные
                  </a>
                </li>
                <li>
                  <a href="">
                  Техника торфодобывающей промышленности
                  </a>
                </li>
                <li>
                  <a href="">
                  Сменные рабочие органы
                  </a>
                </li>
              </ul>
            </ul>
            </div>
          </li>
          <li class="drop__list-2">
            <div class="drop">
            <a href="">
              Диагностика и ремонт
            </a>
              <ul class="list-2">
                <li>
                  <a href="">
                  Диагностика
                    </a>
                </li>
                <li>
                  <a href="">
                    Ремонт спецтехники и отдельных узлов
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div>
            <a href="">
              Запчасти
            </a>
            </div>
          </li>
          <li class="active-item">
            <div>
            <a href="">
              Способы оплаты
            </a>
            </div>
          </li>
          <li >
            <div>
            <a href="">
              Контакты
            </a>
            </div>
          </li>
        </ul>
        <div class="mail">
          <a href="amk-specservis@tut.by">amk-specservis@tut.by</a>
        </div>
        <div class="phone drop">
          <img src="assets/img/mobile_icon.svg">
          <a href="tel:+375 (17) 512-29-60">+375 (17) 512-29-60 (приемная)</a>
          <ul class="list-3">
            <li>
              <a href="">
                +375 (17) 512-29-60 (диагностика)
              </a>
            </li>
            <li>
              <a href="">
                +375 (17) 512-29-60 (ремонт)
              </a>
            </li>
            <li>
              <a href="">
                +375 (17) 512-29-60 (запчасти)
              </a>
            </li>
            <li>
              <a href="">
                +375 (17) 512-29-60 (приемная)
              </a>
            </li>
          </ul>
        </div>
        <div class="social">
          <a href="">
            <img src="assets/img/viber.svg">
          </a>
        </div>
        <form class="search">
          <button type="submit">
            <img src="assets/img/search.svg">
          </button>
          <input type="search" name="search" placeholder="Поиск..." class="input__search">
        </form>
      </nav>
    </div>
  </div>
</header>
