<!--<header class="main-header">-->
  <header class="main-header main-header--main-page">
  <div class="container">
    <div class="header-wrap">
      <h1 class="visually-hidden">Амкодор</h1>
      <div class="logo">
        <a href="main.html">
          <img src="assets/img/logo.svg" alt="Амкодор"/>
        </a>
      </div>
      <nav class="menu">
        <div class="menu__main">
          <div class="menu__main--wrap">
            <div class="desctop-menu mobile-menu-vision">
              <ul>
                <li class="drop__item">
                  <div class=" active-item">
                    <a href="products.html">
                      Продукция
                    </a>
                    <span class="drop"></span>
                    <ul>
                      <li class="sub-active-item">
                        <a href="">
                          Погрузчики
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Погрузчики на базе тракторов МТЗ
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Экскаваторы-погрузчики
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Экскаваторы
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Катки
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Лесная техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Траншеекопатель
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Бульдозер
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Автогрейдер
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Землевоз
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Складская техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Сельскохозяйственная техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Косилки
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Очиститель каналов навесной АМКОДОР ОКН-05
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Снегоуборочная техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Машины фрезерные
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Техника торфодобывающей промышленности
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Сменные рабочие органы
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="drop__item">
                  <div >
                    <a href="diagn-and-rep.html" class="orn">
                      Диагностика и ремонт
                    </a>
                    <span class="drop"></span>
                    <ul>
                      <li>
                        <a href="diagn.html">
                          Диагностика
                        </a>
                      </li>
                      <li>
                        <a href="special-repair.html">
                          Ремонт спецтехники и отдельных узлов
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="drop__item drop__item--hidden">
                  <div >
                    <a href="" class="orn">
                      О нас
                    </a>
                    <span class="drop"></span>
                    <ul>
                      <li>
                        <a href="">
                          Вакансии
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Новости
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="" class="orn">
                      Запчасти
                    </a>
                  </div>
                </li>
                <li >
                  <div class="active-item">
                    <a href="payment.html" class="orn">
                      Способы оплаты
                    </a>
                  </div>
                </li>
                <li >
                  <div>
                    <a href="contacts.html" class="orn">
                      Контакты
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="desctop-menu desctop-menu-vision ">
              <ul>
                <li class="drop__item">
                  <div class=" active-item">
                    <a href="products.html">
                      Продукция
                    </a>
                    <span class="drop"></span>
                    <ul>
                      <li class="sub-active-item">
                        <a href="">
                          Погрузчики
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Погрузчики на базе тракторов МТЗ
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Экскаваторы-погрузчики
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Экскаваторы
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Катки
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Лесная техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Траншеекопатель
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Бульдозер
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Автогрейдер
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Землевоз
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Складская техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Сельскохозяйственная техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Косилки
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Очиститель каналов навесной АМКОДОР ОКН-05
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Снегоуборочная техника
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Машины фрезерные
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Техника торфодобывающей промышленности
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Сменные рабочие органы
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="drop__item">
                  <div >
                    <a href="diagn-and-rep.html" class="orn">
                      Диагностика и ремонт
                    </a>
                    <span class="drop"></span>
                    <ul>
                      <li>
                        <a href="diagn.html">
                          Диагностика
                        </a>
                      </li>
                      <li>
                        <a href="special-repair.html">
                          Ремонт спецтехники и отдельных узлов
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="drop__item drop__item--hidden">
                  <div >
                    <a href="" class="orn">
                      О нас
                    </a>
                    <span class="drop"></span>
                    <ul>
                      <li>
                        <a href="">
                          Вакансии
                        </a>
                      </li>
                      <li>
                        <a href="">
                          Новости
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="" class="orn">
                      Запчасти
                    </a>
                  </div>
                </li>
                <li >
                  <div class="active-item">
                    <a href="payment.html" class="orn">
                      Способы оплаты
                    </a>
                  </div>
                </li>
                <li >
                  <div>
                    <a href="contacts.html" class="orn">
                      Контакты
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mail">

          <a href="amk-specservis@tut.by"  class="orn">
            <img src="assets/img/mail_icon.svg"><p>amk-specservis@tut.by
          </p></a>
        </div>
        <div class="phone drop">
          <img src="assets/img/mobile_icon.svg">
          <a href="tel:+375 (17) 512-29-60"  class="orn">+375 (17) 512-29-60 (приемная)</a>
          <ul class="list-3">
            <li>
              <a href="">
                +375 (17) 512-29-60 (диагностика)
              </a>
            </li>
            <li>
              <a href="">
                +375 (17) 512-29-60 (ремонт)
              </a>
            </li>
            <li>
              <a href="">
                +375 (17) 512-29-60 (запчасти)
              </a>
            </li>
            <li>
              <a href="">
                +375 (17) 512-29-60 (приемная)
              </a>
            </li>
          </ul>
        </div>
        <div class="social">
          <a href="">
            <img src="assets/img/viber.svg">
          </a>
        </div>
        <form class="search-wrap ">
<!--          <button>-->
<!--            <img src="assets/img/search.svg">-->
<!--          </button>-->
          <input type="search" name="search" placeholder="Поиск..." class="input__search" value="">
          <span class="search__clean"></span>
        </form>
        <button class="main-header__burger main-header__burger--closed" type="button">
          <span class="visually-hidden">Бургер меню</span>
          <span></span><span></span><span></span>
        </button>
      </nav>
    </div>
  </div>
</header>

